.list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    border: 2px solid black;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
}